@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Coming+Soon&family=Quicksand&display=block');
* {
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    background-color: aliceblue;
}

.sidebar {
    font-family: 'Quicksand', sans-serif;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 232, 255);
    box-shadow: 0px 0px 10px #00000085;
}

.sidebar-header {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(146, 204, 255);
    box-shadow: -0px 3px 5px #00000040;
}

.add-function {
    display: flex;
    text-align: center;
    margin-top: 30px;
}

.add-function div {
    display: flex;
    margin: auto;
    align-items: center;
    gap: 2px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.add-function svg {
    width: 24px;
    height: 24px;
}

.sidebar-header h1 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
}

.sidebar-wrapper {
    margin: 30px auto 0 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;
}

.sidebar-item svg {
    height: 36px;
    width: 36px;
    vertical-align: bottom;
}

.credit {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.credit svg {
    width: 18px;
    height: 18px;
}

.main {
    font-family: 'Coming Soon', cursive;
    display: flex;
}