@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Coming+Soon&family=Quicksand:wght@700;400&display=block');
* {
    margin: 0;
}

a {
    display: inherit;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    background-color: aliceblue;
}

.sidebar {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 232, 255);
    box-shadow: 0px 0px 10px #00000085;
}

.sidebar-header {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(146, 204, 255);
    box-shadow: -0px 3px 5px #00000040;
}

.sidebar-header h5 {
    font-weight: 400;
}

.add-function {
    display: flex;
    text-align: center;
    margin-top: 30px;
}

.add-function div {
    display: flex;
    margin: auto;
    align-items: center;
    gap: 2px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.add-function svg {
    width: 24px;
    height: 24px;
}

.sidebar-header h1 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
}

.sidebar-wrapper {
    margin: 30px auto 0 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    font-weight: 400;
    width: fit-content;
    cursor: pointer;
}

.sidebar-item svg {
    height: 36px;
    width: 36px;
    vertical-align: bottom;
}

.credit {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.credit svg {
    width: 18px;
    height: 18px;
}

.credit a {
    color: black;
}

.main {
    font-family: 'Coming Soon', cursive;
    flex: 1;
}

.home {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.home-header {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}

.home-header-unique {
    font-family: 'Cinzel', serif;
    font-size: 50px;
}

.body-wrapper {
    margin: 40px 20% 0 20%;
}

.modal {
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    background-color: #0000009e;
    z-index: 10000;
    width: 100%;
    height: 100%;
}

.board-modal {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(230, 230, 230);
    border: 1px solid black;
    border-radius: 5px;
}

.ctr {
    text-align: center;
}

.mtb-10 {
    margin: 10px 0;
}